.club {
    background: $color-black;
    
    @media (min-width: $laptop) {
        min-height: 900px;
    }
    
    &__inner {
        min-height: 900px;
        display: flex;
        position: relative;
        justify-content: space-between;
        color: $color-white
    }

    &__info {
        margin: 256px 64px;
        flex: 1 1 0;
    }

    &__product {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1 1 0;
    }

    &__product-media {
        position: absolute;
        z-index: 0;
        overflow: hidden;
        inset: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__header {
        font-family: $font-tt-ricordi-marmo;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: $color-white;

        text-align: left;
    }

    &__first-paragraph {
        font-family: $font-tt-ricordi-marmo;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0%;
        color: $color-white;

        text-align: left;

        margin-top: 12px;
    }

    &__second-paragraph {
        font-family: $font-tt-firs-text;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #FFFFFF99;

        text-align: left;
    
        margin-top: 24px;
    }

    &__button {
        margin-top: 32px;
        padding: 10px 45px;
    }
}

.product-info {
    position: relative;
    margin: 0 40px;
    z-index: 1;
    bottom: 0;

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__collection {
        font-family: $font-tt-ricordi-marmo;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #FFFFFF99;

        text-align: left;
    }

    &__name {
        font-family: $font-tt-ricordi-marmo;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #FFFFFF99;

        text-align: right;
        margin-bottom: 8px;
    }

    &__collection-title {
        font-family: $font-tt-firs-text;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0%;
        color: $color-white;

        text-align: left;

        margin-top: 4px;
    }

    &__details {
        font-family: $font-tt-firs-text;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.13px;
        color: $color-white;

        text-align: right;

        margin-bottom: 4px;

        &--less-size {
            font-size: 14px;
            letter-spacing: 0;
        }
    }

    &__button {
        width: 100%;
        margin: 20px 0 40px 0;
    }
}