.footer {
    background: $color-light-black;

    @media (min-width: $laptop) {
        min-height: 440px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    &__inner {
        position: relative;

        margin: 40px;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        ul {
            display: flex;
            flex-direction: column;
            gap: 4px;

            list-style-type: none; 
            padding: 0;          
            margin: 0;            
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
    }

    &__down-controls {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        gap: 20px;
    }

    &__addresses {

    }

    ul#{&}__addresses-group1 {
        margin-bottom: 20px;
    }

    ul#{&}__addresses-group2 {
        margin-bottom: 40px;
    }

    &__logo { 
        width: 80px;
        margin: 0 auto;
        display: block;
        margin-bottom: 40px;

        color: $color-white;

        &:hover {
            color: $color-white;
        }
    }

    &__nav-list-title {
        font-family: $font-tt-ricordi-marmo;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3%;

        text-align: left;

        color: #FFFFFF99;

        margin-bottom: 12px;
    }

    &__nav-link {
        font-family: $font-noto-sans-display-condensed;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1%;

        text-align: left;

        color: $color-white;
    }

    &__tech-link {
        font-family: $font-noto-sans-display-condensed;
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1%;

        text-align: left;

        color: #FFFFFF80;
    }

    &__side-info {
        display: flex;
        align-items: center;
        gap: 4px;

        font-family: $font-tt-firs-text;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 1%;

        text-align: left;

        color: #FFFFFF66;
    }
}