.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    a {
        color: inherit;
        text-decoration: none;
    }

    &__text {
        font-family: $font-noto-sans-display-condensed;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1%;
        text-align: center;
    }

    &__inner {
        display: flex;
        padding: 0px 42px;
        color: $header-color-init;
        justify-content: space-between;
        align-items: center;
        min-height: $min-header-height;

        transition: color $transition-speed $transition-ease;
    }

    &__controls {
        display: flex;
        justify-content: flex-start;
        flex: 1;
    }

    &__logo {
        svg {
            width: 64px;
            height: 48px;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    &__contact {
        display: flex;
    }

    &--scrolled {
        color: $header-color-scroll !important;
    }
}
