.hero {
    position: relative;
    overflow: hidden;

    min-height: 1356px;

    &__media {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    &__video {
        position: absolute;
        object-fit: cover;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: absolute;
        z-index: 10;

        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 100px;
    }

    &__header {
        font-family: $font-tt-ricordi-marmo;
        font-weight: 400;
        font-size: 52px;
        font-style: noraml;
        line-height: 60px;
        letter-spacing: 0;
        text-align: center;
        color: $color-white;
    }

    &__info {
        font-family: $font-tt-firs-text;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0;
        text-align: center;
        color: $color-white;
    }
}
