.news-featured {
    &__inner {
        display: flex;

    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        
    }
}