.news-grid {
    @media (min-width: $laptop) {
        min-height: 1020px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__news-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        margin-top: 32px;
        gap: 20px
    }

    &__title {
        font-family: $font-tt-ricordi-marmo;
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0%;

        text-align: left;

        color: $color-black;
    }

    &__button {
        padding: 10px 45px;
    }
}
