.news-featured {
    @media (min-width: $laptop) {
        min-height: 980px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__img-container {
        // margin: 40px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 150px 0 150px 0;
    }

    &__date {
        font-family: $font-firs;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;

        text-align: left;

        color: #00000080;
        margin: 40px 0 0 64px;
    }

    &__text-container {
        margin: 0 64px 0 64px;
    }

    &__main-text {
        font-family: $font-ricordi;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;

        text-align: left;

        color: black;
        padding-bottom: 20px;
    }

    &__lesser-text {
        font-family: $font-firs;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;

        text-align: left;

        color: #000000CC;
    }

    &__link {
        margin: 0 0 40px 66px;
    }
}