.service-controls {
    @media (min-width: $laptop) {
        min-height: 800px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-left: 24px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        margin: 40px 0;

        visibility: hidden;
        opacity: 0;
        height: 0;
        pointer-events: none;

        transition: 
        opacity 0.4s ease;

        &.active {
            visibility: visible;
            opacity: 1;
            height: auto;
            pointer-events: all;
        }
    }

    &__content-text-container {
        margin-right: 96px;
    }

    &__heading-text {
        font-family: $font-ricordi;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;

        text-align: left;

        color: black;
    }

    &__title {
        font-family: $font-ricordi;
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0%;

        text-align: left;

        color: black;

        margin-top: 8px;
    }

    &__description {
        font-family: $font-firs;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;

        text-align: left;

        color: #000000CC;
        margin-top: 32px;
    }

    &__button {
        margin-top: 32px;
        padding: 10px 45px;
    }

    &__content-switcher {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 20px;
    }

    &__switch-button-text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0;
        min-height: 40px;

        font-weight: 600;
        margin-right: 117px;
        text-align: start;

        border: none;
        border-top: 1px solid #0F0F0F80;

        color: #0F0F0F80;

        &.active {
            border-top: 1px solid $color-light-black;
            color: $color-light-black;
        }
    }

    &__img {
        width: 100%;
        max-height: 720px; // Картинка никогда не станет выше этого значения
        object-fit: cover; // Лишнее аккуратно обрежется, не ломая пропорций
        overflow: hidden;
    }
}