.burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 28px;
    color: inherit;

    background: none;
    border: none;

    &__line{
        display: block;
        height: 2px;
        width: 100%;
        background: currentColor;

        &:last-child{
            width: 70%;
        }
      }    
}
