.primary-button {
    appearance: none;
    -webkit-appearance: none;

    font-family: $font-noto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    background: none;
    border-radius: 0;
    border-width: 1px;
    gap: 8px;

    transition: border-color .3s ;

    &--white-text {
        color: white;
    }

    &--white-border {
        border-color: rgba($color: white, $alpha: 0.1);

        &:hover {
            border-color: rgba($color: white, $alpha: 1.0);
        }
    }

    &--black-border {
        border-color: rgba($color: black, $alpha: 0.1);

        &:hover {
            border-color: rgba($color: black, $alpha: 1.0);
        }
    }
}