body {
    font-family: $font-noto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-ricordi;
    font-weight: 500;
    line-height: 1.1;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

.text {
    @each $size in $text-sizes {
        &_#{$size} {
            font-size: #{$size}px;
        }
    }

    @media (max-width: #{$laptop}px) {
        @each $size in $text-sizes {
            &_laptop-#{$size} {
                font-size: #{$size}px;
            }
        }
    }

    @media (max-width: #{$tablet}px) {
        @each $size in $text-sizes {
            &_tablet-#{$size} {
                font-size: #{$size}px;
            }
        }
    }

    @media (max-width: #{$mobile}px) {
        @each $size in $text-sizes {
            &_mobile-#{$size} {
                font-size: #{$size}px;
            }
        }
    }
}