@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-ExtraBold.woff2") format("woff2"), url("../fonts/Noto-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-Black.woff2") format("woff2"), url("../fonts/Noto-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-Bold.woff2") format("woff2"), url("../fonts/Noto-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-ExtraLight.woff2") format("woff2"), url("../fonts/Noto-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-Regular.woff2") format("woff2"), url("../fonts/Noto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-Light.woff2") format("woff2"), url("../fonts/Noto-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-SemiBold.woff2") format("woff2"), url("../fonts/Noto-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-Medium.woff2") format("woff2"), url("../fonts/Noto-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TTFirs;
	font-display: swap;
	src: url("../fonts/TTFirs-Medium.woff2") format("woff2"), url("../fonts/TTFirs-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-Thin.woff2") format("woff2"), url("../fonts/Noto-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: TTFirs;
	font-display: swap;
	src: url("../fonts/TTFirs-Regular.woff2") format("woff2"), url("../fonts/TTFirs-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTRicordi;
	font-display: swap;
	src: url("../fonts/TTRicordi-Light.woff2") format("woff2"), url("../fonts/TTRicordi-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: TTRicordi;
	font-display: swap;
	src: url("../fonts/TTRicordi-Regular.woff2") format("woff2"), url("../fonts/TTRicordi-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
